<div id="login-container" class="pre-auth">
  This application requires access to your YouTube account.
  Please <a href="#" id="login-link">authorize</a> to continue.
</div>

<div class="row">
  <div class="col-xs-4 video-container" ng-repeat="asset in vm.assetsArray" track by $index>
    <h5 class="header">
    {{asset.title}}
    </h5>

    <a href = "{{asset.videoLink}}" target="/blank">
      <img src = "{{asset.imageLink}}" />
    </a>

    <br>
    <button class="btn btn-danger" type="button" ng-click="vm.removeElement($index)"> Remove </button>
  </div>
</div>

<button class="send-db btn btn-primary" type="button" ng-click="vm.sendToDatabase()">
<i class="fa fa-paper-plane" aria-hidden="true"></i>
<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
<i class="fa fa-database" aria-hidden="true"></i>
</button>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"></script>
