.video-container {
  height: 250px;
  border:1px solid whitesmoke;
  text-align: center;

  & button {
    margin-top: 40px;
    float:left;
  }

  & .header {
    min-height:50px;
  }

  & img {
    border-radius: 9px;
  }
}

.send-db {
  margin-top: 15px;
  font-size: 20px;
  float:left;
}
