{{title}}
<div class="container-auto">
  <h1 class="photo-title" ng-if="vm.link">
    <a href="">{{vm.asset.title}}</a>
  </h1>

  <h1 class="photo-title" ng-if="!vm.link">
    {{vm.asset.title}}
  </h1>
  <div class="detail-box container">
    <div class="col-xs-12 col-md-8 col-lg-8 img-container">
      <div ng-if="vm.asset.preview_src_link">
        <!--<img src="vm.asset.preview_src_link"height="100" width="100" alt="unavailable preview">-->
        <a target="_blank" href="{{vm.asset.asset_path}}">
        <img src="{{vm.asset.preview_src_link}}" style="width: 400px;height: 400px;" alt="unavailable preview"></a>
      </div>
      <div ng-if="!vm.asset.preview_src_link">
          Cannot preview
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4 attr-container">
      <form class="form-horizontal">
        <div  ng-show="vm.asset.file_type != null">
          <label class="col-xs-12 col-md-8">Type</label>
        </div>
        <div class="attr-value col-xs-6 col-sm-8" ng-show="vm.asset.file_type != null">
          <span>{{vm.snakeToCamel(vm.asset.file_type)}}</span>
        </div>
        <asset-attribute ng-repeat="attr in vm.attrs" attribute="attr" asset="vm.asset"></asset-attribute>
      </form>
    </div>

    <div class="container-fluid">
      <div class="-align-right">
        <button ng-click="vm.delete(vm.asset)">Delete</button>
      </div>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-8">
      <tag-container tags="vm.asset.tags" asset-id="vm.asset.asset_id" file-type="vm.asset.file_type"></tag-container>
    </div>
    <div class="col-xs-12 col-md-8 col-lg-8">
      <people-container tags="vm.asset.persons" asset-id="vm.asset.asset_id" file-type="vm.asset.file_type"></people-container>
    </div>
  </div>
</div>
