.photo-title{
	text-align: center;
}

.attr-container {   
	background-color: #f8f8f8;
	margin: 10px auto;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 10px 15px;
}

.asset-type {
	text-align: right;
}

.attr-value {
	margin-bottom: 7px;
}