.side-menu-content li {
  list-style-type: none;
  width: 100%;
  margin: 1px 0;
  padding: 2px 0;
  & span {
    width: 100%;
  }
}

.container-auto.naruto {
  margin:0 25px;
}

.table.table-striped {
    word-break: unset;
}

.popup-menu-content {
  padding-top: 4px;
  background-color: #eee;
  margin: 0 auto 3px auto;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 0 0 6px 6px;
}

.popup-menu-list {
  transition-property: all;
  transition-duration: .8s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.popup-menu-list.ng-hide {
  opacity: 0;
}

.popup-menu-list .input-group {
  float: left;
  padding: 4px 30px;
}
.popup-menu-list .input-group-addon {
  width:30%;
  background-color: #f5f5f5;
}

.container-popup-menu-table nav {
  overflow-y: hidden;
  overflow-x: auto;
}
.container-popup-menu-table .pagination {
  width:999999px;
}
.container-popup-menu-table {
  & table {
    border:1px solid #eee;
    word-break: break-all;
  }
}


.search-btn {
  width:100%;
  margin-bottom:6px;
}

.side-menu-content {
  padding: 0px;
}

.search-input-group {
  & input {
    border-bottom-left-radius: 0;
  }

  & .input-group-btn {
    border-right:1px solid #46b8da;
    background-color: #5bc0de;
    border-top-right-radius: 6px;

    & button {
      border-bottom-right-radius: 0;
      border-right:1px solid #5bc0de;
    }
  }
}
