<div class="container-auto naruto">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <h2 class="search-component-title">Asset List</h2>
      <div id="search-input" class="row">
        <div class="col-md-3">
          <div class="side-menu-list">
            <ul class="side-menu-content">
              <li ng-repeat="item in vm.assetTypes" ng-click="vm.highlight(item)" >
                <span ng-class="item.checked ? 'btn btn-info' : 'btn btn-default'">{{item.type}}</span>
              </li>
            </ul>
          </div>
          <button type="button" class="btn btn-info btn-lg search-btn" data-toggle="collapse" ng-click="vm.toggleAdvancedSearch();">
            <span class="fa fa-cogs" aria-hidden="true"></span> Advanced Search
          </button>
        </div>

        <div class="col-md-9">
          <div class="input-group search-input-group">
            <input type="text" ng-disabled="vm.isAdvancedSearchVisible" class="form-control input-lg" placeholder="search" ng-model="vm.queryString"/>
            <span class="input-group-btn">
              <button class="btn btn-info b   tn-lg" type="button" ng-click="vm.searchQuery();">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </span>
          </div>

          <div class="container-popup-menu-table">
            <div class="popup-menu-list" ng-show="vm.isAdvancedSearchVisible">
              <div class="popup-menu-content row">
                <div class="input-group left-side-popup col-xs-12 col-md-6" ng-repeat="item in vm.searchCriteria">
                  <span class="input-group-addon">{{item}}</span>
                  <input id="msg" type="text" class="form-control" ng-model="vm.advanced[item]"/>
                </div>
              </div>
            </div>
<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th ng-repeat="header in vm.tableHeaders">
                    {{header}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="asset in vm.assets" ng-click="vm.getDetailsFor(asset);">
                  <td ng-repeat="attribute in vm.tableHeaders">
                      <div ng-show="vm.toSnakeCase(attribute)=='tags'">
                        <span ng-repeat="item in asset[vm.toSnakeCase(attribute)] track by $index">{{item}}; </span>
                      </div>
                      <div ng-show="vm.toSnakeCase(attribute)=='persons'">
                        <span ng-repeat="item in asset[vm.toSnakeCase(attribute)] track by $index">{{item}},</span>
                      </div>
                      <span ng-show="vm.toSnakeCase(attribute) != 'tags' && vm.toSnakeCase(attribute) != 'persons'">
                         {{asset[vm.toSnakeCase(attribute)]}}
                      </span>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li ng-click="vm.getResultsForPageAndPageSize(0, 30)">
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li ng-repeat="index in vm.pageCountArray track by $index" ng-click="vm.getResultsForPageAndPageSize($index, 30)"><a>{{$index + 1}}</a></li>
                <li ng-click="vm.getResultsForPageAndPageSize(vm.pageCount -1, 30)">
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


