$cardBackground: #eee; 
#card-link {
	text-decoration: none;
}
.card {
	color: #000000;
	text-align: center;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	background-color: $cardBackground;
	display: flex;
	flex: initial;
	flex-wrap: wrap;
	width: 100%;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	padding: 50px;
}

.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-title{
	margin: 10%;
	margin-left: auto;
	margin-right: auto;
	text-overflow: ellipsis;
	position: relative;
	font-size: 3em;
	white-space: nowrap;
}

.card-icon{
	margin: auto;
	font-size: 10em;
}

.big-icon{
	font-size: 10em;
}
