<a id="card-link" href="{{vm.card.link}}">
<div class="card">
		<div class="card-title col-xs-12">
				{{vm.card.title}}
		</div>
		<div class="card-icon col-xs-12">
			<i class="big-icon {{vm.card.faIcon}}"></i>
		</div>
</div>
</a>