.footer-component-background{
  padding: 1rem;
  background-color: black;
}

.footer-component-background p{
  text-align: center;
  color: white;
  margin-bottom: 0px;
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}
