<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="{{vm.isCollapsed}}" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" ng-click="vm.toggleCollapse();">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/home">DiLy</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/familyTree">Persons<span class="sr-only">(current)</span></a></li>
        <li><a href="/upload">Upload<span class="sr-only">(current)</span></a></li>
        <li><a href="/search">Search<span class="sr-only">(current)</span></a></li>
        <li><a href="/import">Import<span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <user-menu></user-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>
