<div>
  <div class="btn-group">
    <img src="assets/images/drive_white-small.png" alt="Google Drive support">
    <a class="btn btn-block btn-google" ng-click="vm.importDrive()">
      <img src="assets/images/drive-icon.png" alt="Drive">
      <span>Import from google drive<span>
    </a>
    <a class="btn btn-block btn-google"
       ng-show="vm.loaded"
       ng-click="vm.sendToDb()"><img src="assets/images/drive-icon.png" alt="Drive">
       <span>Done<span></a>
  </div>

  <div class="container">
    <span ng-show ="vm.loading"> Loading.... </span>
    <div ng-show="vm.loaded">
      <dl ng-repeat="file in vm.files" class="drive-asset">
        <div ng-include src="'app/components/drive_import/file_template.html'" class="col-xs-4">
        </div>
      </dl>
    </div>
  </div>
  <div class="container">
    <div class="alert alert-success alert-dismissable" ng-show="vm.success">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success!</strong> {{vm.succeeded}} files successfully imported!
    </div>

    <div class="alert alert-danger alert-dismissable" ng-show="vm.fail">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Failure!</strong> Your files could not be imported due to some internal error.
    </div>

    <div class="alert alert-warning alert-dismissable" ng-show="vm.warning">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Warning!</strong> Only {{vm.succeeded}} out of {{vm.count}} files have been imported!
    </div>
  </div>
</div>
	