<dt>
<a ng-show="file.broken">{{file.title}}</a>
<a href="{{file.driveLink}}"
   ng-hide="file.broken">
  <h4><a>{{file.title}}</a></h4>
  <img src="{{file.thumbnailLink}}" alt=""></a>
</dt>
<dd ng-show="file.create_date != undefined">
<li class="drive-asset-text">Created on: {{file.create_date}}</li>
<li class="drive-asset-text">Owners:
  <span ng-repeat="owner in file.owners"> {{owner.displayName}};</span>
</li>
<li class="drive-buttons-panel">
  <a class="button btn btn-default"
     href="{{file.downloadLink}}"
     ng-hide="{{file.downloadHidden}}"><i class="fa fa-download" ></i>Download</a>
  <a class="button btn btn-default" ng-click="vm.remove($index)">Remove <i class="fa fa-times"></i></a>
</li>
</dd>

