<div class="container-fluid page-header">
  <header>
    <div class="col-sm-8">
      <meta class="text-left">
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>
    <div class="col-sm-4">
      <user-menu></user-menu>
      <p>hectorics</p>
    </div>
  </header>
</div>
