<div>
  <label>New Nickname</label>
  <input ng-model="vm.nickname">
</div>

<div>
  <label>create with Nickname</label>
  <input ng-model="vm.currentNode.nickname">
</div>

<div>
  <label>Kinship</label>
  <input ng-model="vm.currentNode.kinship">
</div>

<div>
  <label>Root</label>
  <input ng-model="vm.currentNode.root">
</div>

  <span class="btn btn-danger" ng-click="vm.createNode();">Save</span>
<table class="treeTable table table-striped">
  <thead>
    <tr>
      <th ng-repeat="header in vm.headers">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="node in vm.nodes">
      <td ng-repeat="header in vm.headers">{{node[header]}}</td>
      <td>
        <span class="btn btn-primary" ng-click="vm.getPathToRoot(node.nickname);">Get Path</span>
        <span class="btn btn-primary" ng-click="vm.getAllChildren(node.nickname);">Get All Children</span>
        <span class="btn btn-primary" ng-click="vm.updateFather(node)">Update Nickname</span>
        <span class="btn btn-danger" ng-click="vm.deleteNode(node)" ng-if="node.person_id != 1">Delete Node</span>
      </td>
    </tr>
  </tbody>
</table>
