<div class="container -align-left">
  <script>
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <!--<div ng-show="!vm.isConnected">-->
  <!--<button class="btn-facebook" ng-click="vm.loginIntoFB()">Login</button>-->
  <!--<br>-->
  <!--</div>-->
  <div class="container col-sm-4 -align-left" ng-show="!vm.isConnected&&(!vm.isLoading)">
    <a class="btn btn-block btn-social btn-facebook" ng-click="vm.loginIntoFB()">
      <span class="fa fa-facebook"></span> Sign in with Facebook
    </a>
  </div>

  <!--<div ng-show="vm.isConnected">-->
  <!--<button  ng-click="vm.logoutFromFB()">Logout</button><br>-->
  <!--</div>-->

  <div class="container col-sm-4 -align-left" ng-show="vm.isConnected&&(vm.isImported==false)">
    <a class="btn btn-block btn-social btn-facebook" ng-click="vm.importPhotos()">
      <span class="fa fa-facebook"></span> Import Photos from facebook
    </a>
  </div>

  <!--<div ng-show="vm.isConnected&&(vm.isImported==false)">-->
  <!--<button ng-click="vm.importPhotos()">Import All Fresh</button>-->
  <!--<br>-->
  <!--</div>-->

  <div class="container col-sm-4 -align-left" ng-show="!vm.isConnected">
    <a class="btn btn-block btn-social btn-facebook" ng-click="vm.loginIntoFB()">
      <span class="fa fa-facebook"></span> Sign in with Facebook
    </a>
  </div>

  <!--<div ng-show="vm.isImported&&vm.isConnected">-->
  <!--<button ng-click="vm.UploadDataArray()">Upload</button>-->
  <!--<br>-->
  <!--</div>-->

  <div class="container col-sm-4" ng-show="vm.isImported&&vm.isConnected">
    <a class="btn btn-block btn-social btn-facebook" ng-click="vm.uploadDataArray()">
      <span class="fa fa-facebook"></span> Upload
    </a>
  </div>

  <!--<div ng-show="vm.isConnected&&(vm.isImported==false)"></div>-->
  <!--<button ng-click="vm.importNew()">Import what is new</button>-->
  <br><br>
  <div class="container fluid">

    <ul>
      <li ng-repeat="item in vm.data | filter:{isDuplicated: 'false'} track by $index " class="col-xs-4 drive-asset">
        <div class="col-xs-4s container-fluid facebook-container" style="height: 400px; overflow: hidden;">
          <div class="container-fluid col-sm-12">
            <div class="container-fluid drive-asset-container-text">
              <span ng-show="{{item['description'].length>1}}" class="drive-asset-text">Description :</span><span> {{item['description']}}</span>
            </div>
          <!--<br/>-->

          <a target="_blank" href="{{item['link']}}" style="vertical-align: bottom">
            <img src="{{item['urlImageIcon']}}" style="width: 200px;height: 200px;">
          </a>
            <button ng-click="vm.removeElement($index)" class="drive-buttons-panel btn btn-danger">Remove</button>
          </div>

        </div>
      </li>

    </ul>
  </div>
</div>
