<div>
	<label class="col-xs-12 col-md-8">{{vm.attribute.key}}</label>
</div>
<div class="attr-value col-xs-6 col-sm-8">
	<span ng-show="vm.isEditable('vm.attribute.key')">
		<input class="form-control" type="input" ng-model="vm.attribute.value" ng-hide="vm.attribute.key == 'Description'">
		<textarea class="form-control" ng-show="vm.attribute.key =='Description'" ng-model = "vm.attribute.value" rows="10"></textarea>
	</span>
	<span ng-hide="vm.isEditable('vm.attribute.key')">
		<span>{{vm.attribute.value}}</span>
	</span>
</div>
<div class="col-xs-6 col-sm-4">
	<button type="button" class=" edit-button btn btn-link" ng-click="vm.edit(vm.attribute)"
		ng-hide="vm.isEditable('vm.attribute.key')">
	<span class="fa fa-pencil-square-o"></span> Edit
	</button>
	<button type="button" class="save-button btn btn-info" ng-click="vm.save(vm.attribute)"
		ng-show="vm.isEditable('vm.attribute.key')">
	<span class="fa fa-success"></span> Save
	</button>
</div>


