.import-tab-panel {
  margin:25px 0;

  & .col-xs-4 {
    text-align: center;

    &.fade {
      opacity: 0.5;
    }

    &.fade:hover {
      opacity: 1;
    }

    &.force-opacity {
      opacity: 1;
    }
  }

  & .btn-lg.btn-social.btn {
    width:15vw;
    height:14vw;
    border-radius:25px;
  }

  & img {
    vertical-align:middle;
    height:100%;
  }
}
