<div class="container" style="margin-top:20px;">
  <div class="container-auto">
    <div class="import-tab-panel row" ng-include src="'app/components/import/tab_panel.html'"></div>

    <div ng-show="vm.importViews['dv']">
      <drive-import></drive-import>
    </div>

    <div ng-show="vm.importViews['fb']">
      <fbapi></fbapi>
    </div>
  </div>
  <div class="col-md-6" ng-show="vm.importViews['yt']">
    <button class="left btn btn-danger" ng-model="vm.checked" ng-click="vm.openYoutube()">Import from <i class="fa fa-youtube" aria-hidden="true"></i></button>
    <div ng-show="vm.checked">
      <youtube-integration></youtube-integration>
    </div>
  </div>
</div>
