<div class="col-xs-4 fade {{vm.importViews['yt']}}">
  <span class="btn btn-social-icon btn-lg">
    <img src="assets/images/youtube_logo.png" ng-click="vm.changeImportView('yt')"/>
  </span>
</div>

<div class="col-xs-4 fade {{vm.importViews['fb']}}">
  <span class="btn btn-social-icon btn-lg btn-facebook">
    <img src="assets/images/fb_logo.png" ng-click="vm.changeImportView('fb')"/>
  </span>
</div>

<div class="col-xs-4 fade {{vm.importViews['dv']}}">
  <span class="btn btn-social-icon btn-lg btn-foursquare">
    <img src="assets/images/drive_tile-512.png" ng-click="vm.changeImportView('dv')"/>
  </span>
</div>
