.landing-page-background {
  z-index: -1;
  background-color: #e6ecf0;
  width:100%;
  height:100%;
  position: absolute;
}

.landing-page {
  overflow: hidden;
  padding-bottom:200px;
}

.landing-page-container {
  margin: 0 auto;
  width: 30%;
  min-width: 400px;
  max-height: 500px;
  padding: 0 25px 30px 25px;
  text-align: center;
  margin-top: 10%;
  font-family: 'Helvetica neue';
  word-wrap: break-word;
  background-color: white;

  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 6px;
  box-shadow: 0 0 200px rgba(255,255,255, 0.45);

  & .landing-page-header {
    margin-bottom: 50px;

    & h1 {
      font-size:54px;
    }
  }

  & .lead {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
