<div class="landing-page-background"></div>
<div class="container-auto landing-page">
  <div class="landing-page-container">
    <div class="landing-page-header">
      <h1>DiLy</h1>
    </div>

    <p class="lead">
      This project serves to retain your dearest and most precious moments, let them be pictures, videos, important documents or otherwise.
    </p>

    <div class="landing-page-button-panel">
      <div data-facebook-signin></div>
      <div data-google-signin></div>
    </div>
  </div>
</div>

<script src="https://apis.google.com/js/platform.js" async defer></script>
