<div class="container">
	<div class = "tag-header">
		<div class="tag-title">
			<span>Tags</span>
		</div>

		<div class="add-button">
			<button type="submit" class=" btn btn-primary" ng-click="vm.showForm()" ng-disabled="vm.saveButton">
			<i class="fa fa-plus" 
				aria-hidden="true"></i>
			</button>
		</div>

		<div class="tag-undo">
			<button type="submit" class="btn btn-primary" ng-click="vm.undoRemove()" ng-hide="vm.blockRemoveUndo">
				<i aria-hidden="true">Undo remove</i>
			</button>
		</div>
		
	</div>

	<div class="tag-controls">
		<div ng-show="vm.saveButton">
			<input type="text" class="form-control"
			maxlength="255" placeholder="tag name..." ng-model="vm.newTag">
			<div class="save-cancel-button">
				<button type="submit" class="btn btn-primary" ng-click="vm.addTag()">Save
				<i class="fa fa-check" 
					aria-hidden="true"></i>
				</button>

				<button type="submit" class=" btn btn-primary" ng-click="vm.cancel()">Cancel
				<i class="fa fa-times" 
					aria-hidden="true"></i>
				</button>
			</div>
		</div>

	</div>
	<div class="tag-container">
		<div class="tag alert alert-info" ng-repeat="tag in vm.tags">
			<div class="tag-name-box">
			{{tag}}
			<button type="button" class="close" aria-label="Close" ng-click="vm.removeTag($index)">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
		</div>
	</div>
</div>