.tag {
	margin-right: 20px;
	text-overflow: ellipsis;
	display: inline-block;
	max-width: 100%;
	word-wrap: break-word;
	border: #000;
	color: #000;
	background: #f8f8f8;
	border: 1px solid #ccc;
}

.tag-container {
	margin-top: 20px;
}

.tag-header {
	display: flex;
	flex-direction: row;
}

.tag-undo {
	margin-left: 10px;
}

.tag-input {
	max-width: 100%;	
}

.tag-title {
	vertical-align: top;
}
.tag-title span {
	font-size: 2em;
}

.tag-controls {
	flex: auto;
}

.close{
	margin-left: 5px;
}

.add-button {
	margin-left: 30px;
}

.add-tag {
	padding: 5px;
	z-index: 1000;
}
