.user-profile {
  float: right;
  font-size: 20pt;
}

.user-profile span {
  vertical-align: middle;
}

.profile-img {
  max-width: 60px;
  max-height: 60px;
}
.dropdown-menu {
    list-style: none;
    left: -90px;
}
.dropdown-toggle {
    content:none;
}

.greeting {
  font-size: 20pt;
}

@media (max-width: 767px) {.navbar-nav .open .dropdown-menu {
    position: static;
    width: auto;
    margin-top: 0;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);

  }
};
