
<div class="container-fluid user-profile">
  <span class="greeting">
    Hello, {{vm.username}}
  </span>
  <span>
    <div class="btn-group">
      <div class="user-menu-dropdown">
        <img class="dropdown-toggle profile-img" src="assets/images/mure.jpg" data-toggle="dropdown"/>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="/">Logout</a></li>
        </ul>
      </div>
   </div>
  </span>

</div>
