<div class="container" style="margin-top:20px;">
  <div class="row">
    <div class="col-xs-12">
      <h2>Upload History</h2>
<input type="file" id="file" name="file"/>
<button class="btn btn-primary col-sm-6" id="get-checked-data" ng-click="vm.uploadFiles()">Upload File</button>
<div class="col-xs-12"></div>

      <div class="well -align-center" style="max-height: 300px;overflow: auto; ">
        <ul id="check-list-box" class="list-group checked-list-box" ng-repeat="item in vm.fileList track by $index">
          <div clas="container">
          <li class="list-group-item active"><div id="myCheckbox"></span> {{item.name}}</li>
          </div>
        </ul>
      </div>
      <div class= style="margin-bottom: 20px;">
            </div>
    </div>
  </div>
