<input type="text" ng-model="vm.questionId"/>
<button class="btn btn-default" ng-click="vm.getQuestion(vm.questionId);">
  Get Question
</button>
<button class="btn btn-default" ng-click="vm.getQuestionWithSQLi(vm.questionId);">
  Get Question with SQLi
</button>

<div class="container">
  <p class="lead">
  {{vm.question.question}}
  </p>

  <p class="lead">
  {{vm.question.answer}}
  </p>
</div>
